/* Strat Variable Color  */
:root {
  --red: #db2828;
  --orange: #f2711c;
  --yellow: #fbbd08;
  --green: #21ba45;
  --teal: #00b5ad;
  --blue: #3EBCF5;
  --violet: #6435c9;
  --violet-b: #361283;
  --purple: #a333c8;
  --pink: #e03997;
  --brown: #a5673f;
  --grey: #767676;
  --grey-w: #F6F6F6;
  --black: #1b1c1d;
  --white: #fff ;
}
/* End Variable Color */
/* Start Container Layout */
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  /* Small */
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  /* End Container Layout */
  /* Start Flex Box  */
  .d-flex {
    display: flex;
  }
  @media (max-width: 768px) {
    .d-flex {
     flex-direction: column;
    }
  }
  .d-i-flex {
    display: inline-flex;
  }
  .flex-wrap {
    flex-wrap: wrap;
  }
  .space-around {
    justify-content: space-around;
  }
  .space-between {
    justify-content: space-between;
  }
  .space-evenly {
    justify-content: space-evenly;
  }
  .justify-content-center {
    justify-content: center;
  }
  .flex-start {
    justify-content: flex-start;
  }
  .flex-end {
    justify-content: flex-end;
  }
  .flex-column {
    flex-direction: column;
  }
  .flex-inherit {
    flex-direction: inherit;
  }
  .flex-column-r {
    flex-direction: column-reverse;
  }
  .align-i-c {
    align-items: center;
  }
  .align-i-flex-s {
    align-items: flex-start;
  }
  .align-i-flex-e {
    align-items: flex-end;
  }
  .flex-10 {
    flex: 10%;
  }
  .flex-20 {
    flex: 20%;
  }
  .flex-30 {
    flex: 30%;
  }
  .flex-40 {
    flex: 40%;
  }
  .flex-50 {
    flex: 50%;
  }
  /* End Flex Box  */
  /* Start Graid  */
  .grid {
    display: grid;
  }
  .grid-3 {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  .grid-4 {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  .grid-5 {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
  .align-i-s {
    align-items: start;
  }
  .align-i-e {
    align-items: end;
  }
  /* End Graid */
  /* Start Spacing With Gap */
  .gap-5 {
    gap: 5px;
  }
  .gap-10 {
    gap: 10px;
  }
  .gap-15 {
    gap: 15px;
  }
  .gap-20 {
    gap: 20px;
  }
  .gap-25 {
    gap: 25px;
  }
  .gap-30 {
    gap: 30px;
  }
  /* End Spacing With Gap */
/* Margin */
.m-0 {
margin: 0;
}
.m-auto {
  margin: auto;
}
.m-10 {
margin: 10px;
}
.m-15 {
margin: 15px;
}
.m-20 {
margin: 20px;
}
/* Margin-Top */
.m-t-0 {
margin-top: 0;
}
.m-t-10 {
margin-top: 10px;
}
.m-t-15 {
margin-top: 15px;
}
.m-t-20 {
margin-top: 20px;
}
/* Margin-Bottom */
.m-b-0 {
margin-bottom: 0;
}
.m-b-10 {
margin-bottom: 10px;
}
.m-b-15 {
margin-bottom: 15px;
}
.m-b-20 {
margin-bottom: 20px;
}
/* Margin-Right */
.m-r-0 {
margin-right: 0;
}
.m-r-10 {
margin-right: 10px;
}
.m-r-15 {
margin-right: 15px;
}
.m-r-20 {
margin-right: 20px;
}
/* Margin-Left */
.m-l-0 {
margin-left: 0;
}
.m-l-10 {
margin-left: 10px;
}
.m-l-15 {
margin-left: 15px;
}
.m-l-20 {
margin-left: 20px;
}
/* Padding */
.p-0 {
    padding: 0;
}
.p-10 {
    padding: 10px;
}
.p-15 {
    padding: 15px;
}
.p-20 {
    padding: 20px;
}
/* Padding-top */
.p-t-0 {
    padding-top: 0;
}
.p-t-10 {
    padding-top: 10px;
}
.p-t-15 {
    padding-top: 15px;
}
.p-t-20 {
    padding-top: 20px;
}
/* Padding-bottom */
.p-b-0 {
    padding-bottom: 0;
}
.p-b-10 {
    padding-bottom: 10px;
}
.p-b-15 {
    padding-bottom: 15px;
}
.p-b-20 {
    padding-bottom: 20px;
}
/* Padding-right */
.p-r-0 {
    padding-right: 0;
}
.p-r-10 {
    padding-right: 10px;
}
.p-r-15 {
    padding-right: 15px;
}
.p-r-20 {
    padding-right: 20px;
}
/* Padding-left */
.p-l-0 {
    padding-left: 0;
}
.p-l-10 {
    padding-left: 10px;
}
.p-l-15 {
    padding-left: 15px;
}
.p-l-20 {
    padding-left: 20px;
}
/* End Padding */
/* Strat Background  Color  */
.bg-red {
  background-color: var(--red);
}
.bg-orange {
  background-color: var(--orange);
}
.bg-yellow {
  background-color: var(--yellow);
}
.bg-green {
  background-color: var(--green);
}
.bg-teal {
  background-color: var(--teal);
}
.bg-blue {
  background-color: var(--blue);
}
.bg-violet {
  background-color: var(--violet);
}
.bg-violet-b {
  background-color: var(--violet-b);
}
.bg-purple {
  background-color: var(--purple);
}
.bg-pink {
  background-color: var(--pink);
}
.bg-brown {
  background-color: var(--brown);
}
.bg-grey {
  background-color: var(--grey);
}
.bg-grey-w {
  background-color: var(--grey-w);
}
.bg-black {
  background-color: var(--black);
}  
.bg-white {
  background-color: var(--white);
}
/* End Background Color  */  
/* Strat Text Layout  */ 
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-nowrap {
  white-space: nowrap;
}
.text-lower {
  text-transform: lowercase;
}
.text-cap {
  text-transform: capitalize;
}
.text-upper {
  text-transform: uppercase;
}
.text-white {
  color: white;
}
.text-mute {
  color: #6c757d;
}
.text-red {
  color: var(--red);
}
.text-orange {
  color: var(--orange);
}
.text-yellow {
  color: var(--yellow);
}
.text-green {
  color: var(--green);
}
.text-teal {
  color: var(--teal);
}
.text-blue {
  color: var(--blue);
}
.text-violet {
  color: var(--violet);
}
.text-violet-b {
  color: var(--violet-b);
}
.text-purple {
  color: var(--purple);
}
.text-pink {
  color: var(--pink);
}
.text-brown {
  color: var(--brown);
}
.text-grey {
  color: var(--grey);
}
.text-black {
  color: var(--black);
}
.f-w-bold {
  font-weight: bold;
}
.f-w-100 {
  font-weight: 100;
} 
.f-w-200 {
  font-weight: 200;
} 
.f-w-300 {
  font-weight: 300;
} 
.f-w-400 {
  font-weight: 400;
} 
.f-w-500 {
  font-weight: 500;
} 
.f-w-600 {
  font-weight: 600;
} 
.f-w-700 {
  font-weight: 700;
} 
.f-w-800 {
  font-weight: 800;
} 
.f-z-1 {
  font-size: 10px;
}  
.f-z-2 {
  font-size: 15px;
}  
.f-z-3 {
  font-size: 20px;
}  
.f-z-4 {
  font-size: 25px;
}  
.f-z-5 {
  font-size: 30px;
}  
.f-z-6 {
  font-size: 35px;
}  
.f-z-7 {
  font-size: 40px;
}  
/* End Text Layout  */ 
/* start of overflow */
.ov-f-vi {
  overflow: visible;
}
.ov-f-hi {
  overflow: hidden;
}
.ov-f-cl {
  overflow: clip;
}
.ov-f-sc {
  overflow: scroll;
}
.ov-f-au {
  overflow: auto;
}
.ov-f-hv {
  overflow: hidden visible;
} 
.ov-f-inh {
  overflow: inherit;
}
.ov-f-ini {
  overflow: initial;
}
.ov-f-rev {
  overflow: revert;
}
.ov-f-un {
  overflow: unset;
}
/* end of overflow */
/* start of position */
.po-st {
  position: static;
}
.po-rel {
  position: relative;
}
.po-abs {
  position: absolute;
}
.po-fi {
  position: fixed;
}
.po-st {
  position: sticky;
}
.po-inh {
  position: inherit;
}
.po-ini {
  position: initial;
}
.po-rev {
  position: revert;
}
.po-un {
  position: unset;
}
/* end of position */
/* start of width sizing*/
.wid-max {
  width: max-content;
}
.wid-min {
  width: min-content;
}
.wid-fit {
  width: fit-content;
}
.wid-au {
  width: auto;
}
.wid-10 {
  width: 10px;
}
.wid-20 {
  width: 20px;
}
.wid-30 {
  width: 30px;
}
.wid-40 {
  width: 40px;
}
.wid-50 {
  width: 50%;
}
.wid-60 {
  width: 60px;
}
.wid-70 {
  width: 70%;
}
.wid-80 {
  width: 80px;
}
.wid-90 {
  width: 90px;
}
.wid-100 {
  width: 100px;
}
.wid-150 {
  width: 150px;
}
.wid-200 {
  width: 200px;
}
.width-100 {
  width: 100%;
}
/* end of width-sizing */
/* start of visibility */
.vis-vis {
  visibility: visible;
}
.vis-hi {
  visibility: hidden;
}
.vis-col {
  visibility: collapse;
}
.vis-inh {
  visibility: inherit;
}
.vis-ini {
  visibility: initial;
}
.vis-rev {
  visibility: revert;
}
.vis-un {
  visibility: unset;
}
/* end of visibility */
/* Start Lists And Links Layout */
.list-s-none {
  list-style: none;
}
.link {
  text-decoration: none;
  padding-left: 17px;
}
/* End Lists And Links Layout */
/* Start Heading */
h1 ,
h2 ,
h3 ,
h4 ,
h5 ,
h6 {
  margin: 0;
}
/* End Heading */
/* Start Opacity */
.op-0 {
  opacity: 0;
}
.op-1 {
  opacity: 0.1;
}
.op-2 {
  opacity: 0.2;
}
.op-3 {
  opacity: 0.3;
}
.op-4 {
  opacity: 0.4;
}
.op-5 {
  opacity: 0.5;
}
.op-6 {
  opacity: 0.6;
}
.op-7 {
  opacity: 0.7;
}
.op-8 {
  opacity: 0.8;
}
.op-9 {
  opacity: 0.9;
}
.op-10 {
  opacity: 1.0;
}
/* End Opacity */
/* Start Border */
.bor-solid5 {
  border: 5px solid var(--blue);
}
.bor-solid10 {
  border: 10px solid red;
}
.bor-dott {
  border: 4px dotted blue;
}
.bor-dash {
  border: 4px dashed blue;
}
.bor-inset {
  border: 4px inset;
}
.bor-outset {
  border: 4px outset;
}
.bor-ridg {
  border: 4px ridge;
}
.bor-double {
  border: double;
}
  /* Start Border-Top */
.bor-t-solid5 {
  border: 5px solid red;
}
.bor-t-solid10 {
  border: 10px solid red;
}
.bor-t-dott {
  border: 4px dotted blue;
}
.bor-t-dash {
  border: 4px dashed blue;
}
.bor-t-inset {
  border: 4px inset;
}
.bor-t-outset {
  border: 4px outset;
}
.bor-t-ridg {
  border: 4px ridge;
}
.bor-t-double {
  border: double;
}
  /* Start Border-Bottom */
.bor-b-solid5 {
  border: 5px solid red;
}
.bor-b-solid10 {
  border: 10px solid red;
}
.bor-b-dott {
  border: 4px dotted blue;
}
.bor-b-dash {
  border: 4px dashed blue;
}
.bor-b-inset {
  border: 4px inset;
}
.bor-b-outset {
  border: 4px outset;
}
.bor-b-ridg {
  border: 4px ridge;
}
.bor-b-double {
  border: double;
}
  /* Start Border-Right */
.bor-r-solid5 {
  border: 5px solid red;
}
.bor-r-solid10 {
  border: 10px solid red;
}
.bor-r-dott {
  border: 4px dotted blue;
}
.bor-r-dash {
  border: 4px dashed blue;
}
.bor-r-inset {
  border: 4px inset;
}
.bor-r-outset {
  border: 4px outset;
}
.bor-r-ridg {
  border: 4px ridge;
}
.bor-r-double {
  border: double;
}
  /* Start Border-Left */
.bor-l-solid5 {
  border: 5px solid red;
}
.bor-l-solid10 {
  border: 10px solid red;
}
.bor-l-dott {
  border: 4px dotted blue;
}
.bor-l-dash {
  border: 4px dashed blue;
}
.bor-l-inset {
  border: 4px inset;
}
.bor-l-outset {
  border: 4px outset;
}
.bor-l-ridg {
  border: 4px ridge;
}
.bor-l-double {
  border: double;
}
/* Start Border-Width */
.bor-w-thin {
  border-width: thin;
}
.bor-w-medium {
  border-width: medium;
}
.bor-w-thik {
  border-width: thick;
}
.bor-w-1 {
  border-width: 1px;
}
.bor-w-10 {
  border-width: 10px;
}
.bor-w-20 {
  border-width: 20px;
}
/* Start Border-Top-Width */
.bor-t-w-thin {
  border-width: thin;
}
.bor-t-w-medium {
  border-width: medium;
}
.bor-t-w-thik {
  border-width: thick;
}
.bor-t-w-1 {
  border-width: 1px;
}
.bor-t-w-10 {
  border-width: 10px;
}
.bor-t-w-20 {
  border-width: 20px;
}
/* Start Border-bottom-Width */
.bor-b-w-thin {
  border-width: thin;
}
.bor-b-w-medium {
  border-width: medium;
}
.bor-b-w-thik {
  border-width: thick;
}
.bor-b-w-1 {
  border-width: 1px;
}
.bor-b-w-10 {
  border-width: 10px;
}
.bor-b-w-20 {
  border-width: 20px;
}
/* Start Border-Right-Width */
.bor-r-w-thin {
  border-width: thin;
}
.bor-r-w-medium {
  border-width: medium;
}
.bor-r-w-thik {
  border-width: thick;
}
.bor-r-w-1 {
  border-width: 1px;
}
.bor-r-w-10 {
  border-width: 10px;
}
.bor-r-w-20 {
  border-width: 20px;
}
/* Start Border-Left-Width */
.bor-l-w-thin {
  border-width: thin;
}
.bor-l-w-medium {
  border-width: medium;
}
.bor-l-w-thik {
  border-width: thick;
}
.bor-l-w-1 {
  border-width: 1px;
}
.bor-l-w-10 {
  border-width: 10px;
}
.bor-l-w-20 {
  border-width: 20px;
}
/* Start Border-Style */
.bor-s-sol {
  border-style: solid;
}
.bor-s-dash {
  border-style: dashed;
}
.bor-s-dott {
  border-style: dotted;
}
.bor-s-in {
  border-style: inset;
}
.bor-s-out {
  border-style: outset;
}
.bor-s-rid {
  border-style: ridge;
}
.bor-s-gro {
  border-style: groove;
}
.bor-s-hid {
  border-style: hidden;
}
.bor-s-non {
  border-style: none;
}
 /* Start Border-Color */
 .bor-c-1 {
  border-color: red;
}
.bor-c-2 {
  border-color: #0000ff;
}
.bor-c-3 {
  border-color: transparent;
}
/* Start Height */
.height-100 {
  height: 100%;
}
.max-height {
  max-height: 100%;
}
.height-vh-50 {
  height: 50vh;
}
.height-vh-100 {
  height: 100vh;
}
.height-10 {
  height: 10px;
}
.height-20 {
  height: 20px;
}
.height-30 {
  height: 30px;
}
.height-40 {
  height: 40px;
}
.height-50 {
  height: 50px;
}
.height-60 {
  height: 60px;
}
.height-70 {
  height: 70px;
}
.height-80 {
  height: 80px;
}
.height-90 {
  height: 90px;
}
/* End Height */
/* Start Border Radius */
.border-r-1 {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.border-r-2 {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.border-r-3 {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
.border-r-4 {
  -webkit-border-radius: 80px;
  -moz-border-radius: 80px;
  border-radius: 80px;
}
.border-r-50 {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.border-r-t-r {
  border-top-right-radius: 0
}
.border-r-t-l {
  border-top-left-radius: 0
}
.border-r-b-r {
  border-bottom-right-radius: 0
}
.border-r-b-l {
  border-bottom-left-radius: 0
}
/* End Border Radius */
/* Start Buttons  */
.cursor-p {
  cursor: pointer;
}
.but-trans {
  background: transparent;
}
.but-blue {
  background-color: var(--blue);
  color: var(--white);
}
.but-border-n {
  border: none;
}
.but-hover-b:hover {
  color: var(--blue);
}
.but-blue:hover {
  background-color: var(--blue);
  color: var(--white);
}
/* End Buttons  */
/* Start Input  */
.input-t {
  padding: 10px;
}
.input-w-50 {
  width: 45%;
}
@media (max-width: 576px) {
  .input-w-50 {
    width: 95%;
    margin-top: 10px;
  }
}
.input-w-100 {
  width: 95%;
}
/* End Input  */